<h2>Instagram Users Images</h2>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <div class="card mb-3 box-shadow">
                    <img data-bind="attr:{src: SummaryImageUrl, title: DisplayName}" alt="product image" src="/sitecore/shell/-/media/Feature/Commerce Instagram/razor-mouse.jpg?h=220&amp;w=263&amp;hash=40721017BDFC0CED3A61F000E256AD1F0CEBECE3" title="Optix 12.8MP 4K Ultra HD Action Camera">
                    <!-- TODO List product associated infos : tags, comments, likes -->
                    <div class="card-body">
                        <p class="card-text">Comments : 18k</p>
                        <p class="card-text">Like : 187k</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card mb-3 box-shadow">
                    <img data-bind="attr:{src: SummaryImageUrl, title: DisplayName}" alt="product image" src="/sitecore/shell/-/media/Feature/Commerce Instagram/razor-mouse-2.jpg?h=220&amp;w=263&amp;hash=40721017BDFC0CED3A61F000E256AD1F0CEBECE3" title="Optix 12.8MP 4K Ultra HD Action Camera">
                    <!-- TODO List product associated infos : tags, comments, likes -->
                    <div class="card-body">
                        <p class="card-text">Comments : 18k</p>
                        <p class="card-text">Like : 187k</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card mb-3 box-shadow">
                    <img data-bind="attr:{src: SummaryImageUrl, title: DisplayName}" alt="product image" src="/sitecore/shell/-/media/Feature/Commerce Instagram/razor-mouse-3.png?h=220&amp;w=263&amp;hash=40721017BDFC0CED3A61F000E256AD1F0CEBECE3" title="Optix 12.8MP 4K Ultra HD Action Camera">
                    <!-- TODO List product associated infos : tags, comments, likes -->
                    <div class="card-body">
                        <p class="card-text">Comments : 18k</p>
                        <p class="card-text">Like : 187k</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card mb-3 box-shadow">
                    <img data-bind="attr:{src: SummaryImageUrl, title: DisplayName}" alt="product image" src="/sitecore/shell/-/media/Feature/Commerce Instagram/razor-mouse-5.png?h=220&amp;w=263&amp;hash=40721017BDFC0CED3A61F000E256AD1F0CEBECE3" title="Optix 12.8MP 4K Ultra HD Action Camera">
                    <!-- TODO List product associated infos : tags, comments, likes -->
                    <div class="card-body">
                        <p class="card-text">Comments : 18k</p>
                        <p class="card-text">Like : 187k</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<br>